<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
    <title>BF Manager</title>
</head> 
<body>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io()
        
        var send = function(){
            var text = document.getElementById('newgame').value
            socket.emit('newgame', text)
        }

        var deletePartie = function(self){
            var id = self.getAttribute("partie-id")
            console.log(id)
            socket.emit('delete', id)
        }

        var finishPartie = function(self){
            var id = self.getAttribute("partie-id")
            var partie = document.getElementById(id).textContent
            socket.emit('over', id)
        }

        var newGame = function(id, partie){
            console.log('ID function' + id)
            console.log('Partie function : ' + partie)

            var game = document.createElement('p')
            var div = document.createElement('div')
            var buttonF = document.createElement('button')
            var iF = document.createElement('i')
            var buttonD = document.createElement('button')
            var iD = document.createElement('i')

            div.setAttribute('class', 'ui grid')
            div.setAttribute('id', 'partie')
            div.setAttribute('name', id)

            game.setAttribute('id', id)
            game.innerText = partie

            buttonF.setAttribute('type', 'submit')
            buttonF.setAttribute('class', 'ui blue labeled icon button')
            buttonF.setAttribute('id', 'idUpdate')
            buttonF.setAttribute('onclick', 'finishPartie(this)')
            buttonF.setAttribute('partie-id', id)

            iF.setAttribute('class', 'down arrow icon')

            buttonD.setAttribute('type', 'submit')
            buttonD.setAttribute('class', 'ui red delete button')
            buttonD.setAttribute('id', 'idDelete')
            buttonD.setAttribute('onclick', 'deletePartie(this)')
            buttonD.setAttribute('partie-id', id)

            iD.setAttribute('class', 'icon delete')

            document.getElementById('partieEnCours').appendChild(div)
            document.getElementById('partie').appendChild(game)
            document.getElementById('partie').appendChild(buttonF)
            document.getElementById('idUpdate').appendChild(iF)
            document.getElementById('partie').appendChild(buttonD)
            document.getElementById('idDelete').appendChild(iD)
        }


        socket.on('newgame', function(id, partie_nom){
            console.log('ID socket' + id)
            console.log('Partie socket : ' + partie_nom)
            newGame(id, partie_nom)
        })

        socket.on('delete', function(id){
            var suppr = document.getElementById('partie ' + id)
            suppr.remove()
        })

        socket.on('over', function(id){
            var partie = document.getElementById(id).textContent
            var add = document.createElement('p')
            var div = document.createElement('div')
            var suppr = document.getElementById('partie ' + id)

            add.setAttribute('class', 'testT')
            add.setAttribute('style', 'color: grey;')
            add.innerText = partie

            div.setAttribute('class', 'ui hidden divider')

            document.getElementById('partieFini').appendChild(add)
            document.getElementById('partieFini').appendChild(div)

            suppr.remove()
        })

    </script>

    <div class="ui fixed inverted menu">
        <a href="/" class="header item">BabyFoot Manager</a>
    </div>

    <div class="ui main container">

        <br>
        <br>
        <br>

        

        <br>
        <br>
        <br>

        <div class="ui grid">
            <div class="field">
                <label for="newgame"></label>
                <textarea name="newgame" id="newgame" placeholder="Nouvelle partie" cols="30" rows="2"></textarea>
            </div>
        
            <button type="submit" class="ui blue labeled submit icon button" onclick="send()">
                <i class="icon add"></i>Ajouter
            </button>
        </div>
            

        <div class="ui hidden divider"></div>

        <div class="ui comments">
            <h3 class="ui dividing header">Parties :</h3>
            <br>
            <h3 class="ui header">Parties en cours (<%= parties.length %>) :</h3>
            <br>

            <div id="partieEnCours">
                <% for (i=0; i<parties.length; i++) { %>
                    <div id="test">
                        <div class="ui grid" id="partie <%= id[i] %>" name="<%= id[i] %>">
    
                            <p id="<%= id[i] %>"><%= parties[i] %></p>
        
                            <button type="submit" class="ui blue labeled icon button" id="idUpdate" onclick="finishPartie(this)" partie-id="<%= id[i] %>">
                                <i class="down arrow icon"></i>Terminé
                            </button>
                            
                            <button type="submit" class="ui red delete button" id="idDelete" onclick="deletePartie(this)" partie-id="<%= id[i] %>">
                                <i class="icon delete"></i>Supprimer
                            </button>
                            
                        </div>
                    </div>
                    
    
                    <div class="ui hidden divider"></div>
                    <br>
                <% } %>
            </div>
                
            

            <div class="ui section divider"></div>

            <h3 class="ui header">Parties terminées (<%= partiesT.length %>) :</h3>
            <br>
            
            <div id="partieFini">
                <% for (i=0; i<partiesT.length; i++) { %>
                    
    
                        <p class="testT" style="color: grey;"><%= partiesT[i] %></p>
                        <div class="ui hidden divider"></div>
                    
                <% } %>
            </div>
           
        </div>
        
    </div>
    
</body>
</html>