<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
    <title>BF Manager</title>
</head> 
<body>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io()
        
        var send = function(){
            var text = document.getElementById('newgame').value
            socket.emit('newgame', text)
        }

        var deletePartie = function(self){
            var id = self.getAttribute("partie-id")
            console.log(id)
            socket.emit('delete', id)
        }

        var finishPartie = function(self){
            var id = self.getAttribute("partie-id")
            var partie = document.getElementById('nom_partie').textContent
            console.log(partie)
            console.log(id)
            socket.emit('over', id)
        }

        var receive = function(partie){

            
        }

        socket.on('newgame', function(partie){
            var game = document.createElement('p')
            game.innerText = partie
            document.getElementById('partieEnCours').appendChild(game)
        })

        socket.on('delete', function(id){
            var parent = document.getElementById("partieEnCours")
            var child = document.getElementsByName(id)
            console.log("Parent : " + parent)
            console.log("Child : " + child)
            var removed = parent.removeChild(id)
        })

        socket.on('over', function(id){
            var partie = document.getElementById('nom_partie').textContent
            var add = document.createElement('p')
            var div = document.createElement('div')
            add.setAttribute('class', 'testT')
            add.setAttribute('style', 'color: grey;')
            div.setAttribute('class', 'ui hidden divider')
            add.innerText = partie
            document.getElementById('partieFini').appendChild(add)
            document.getElementById('partieFini').appendChild(div)
        })

    </script>

    <div class="ui fixed inverted menu">
        <a href="/" class="header item">BabyFoot Manager</a>
    </div>

    <div class="ui main container">

        <br>
        <br>
        <br>

        

        <br>
        <br>
        <br>

        <div class="ui grid">
            <div class="field">
                <label for="newgame"></label>
                <textarea name="newgame" id="newgame" placeholder="Nouvelle partie" cols="30" rows="2"></textarea>
            </div>
        
            <button type="submit" class="ui blue labeled submit icon button" onclick="send()">
                <i class="icon add"></i>Ajouter
            </button>
        </div>
            

        <div class="ui hidden divider"></div>

        <div class="ui comments">
            <h3 class="ui dividing header">Parties :</h3>
            <br>
            <h3 class="ui header">Parties en cours (<%= parties.length %>) :</h3>
            <br>

            <div id="partieEnCours">
                <% for (i=0; i<parties.length; i++) { %>
                    <div class="ui grid" id="partie" name="<%= id[i] %>">
    
                        <p id="nom_partie" name="<%= id[i] %>"><%= parties[i] %></p>
    
                        <button type="submit" class="ui blue labeled icon button" name="<%= id[i] %>" id="idUpdate" onclick="finishPartie(this)" partie-id="<%= id[i] %>">
                            <i class="down arrow icon"></i>Terminé
                        </button>
                        
                        <button type="submit" class="ui red delete button" name="<%= id[i] %>" id="idDelete" onclick="deletePartie(this)" partie-id="<%= id[i] %>">
                            <i class="icon delete"></i>Supprimer
                        </button>
                        
                            
                        
    
                    </div>
    
                    <div class="ui hidden divider"></div>
                    <br>
                <% } %>
            </div>
                
            

            <div class="ui section divider"></div>

            <h3 class="ui header">Parties terminées (<%= partiesT.length %>) :</h3>
            <br>
            
            <div id="partieFini">
                <% for (i=0; i<partiesT.length; i++) { %>
                    
    
                        <p class="testT" style="color: grey;"><%= partiesT[i] %></p>
                        <div class="ui hidden divider"></div>
                    
                <% } %>
            </div>
           
        </div>
        
    </div>
    
</body>
</html>